@font-face {
	font-family: 'rice';
	src:url('../fonts/rice.eot?-g59dkt');
	src:url('../fonts/rice.eot?#iefix-g59dkt') format('embedded-opentype'),
		url('../fonts/rice.ttf?-g59dkt') format('truetype'),
		url('../fonts/rice.woff?-g59dkt') format('woff'),
		url('../fonts/rice.svg?-g59dkt#rice') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'rice';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-vcard:before {
	content: "\e600";
}
.icon-local_grocery_store:before {
	content: "\e1df";
}
.icon-shopping-cart:before {
	content: "\e601";
}
.icon-trashcan:before {
	content: "\e602";
}
.icon-thumbsup:before {
	content: "\e61c";
}
.icon-sun:before {
	content: "\e603";
}
.icon-feather:before {
	content: "\e604";
}
.icon-spinner:before {
	content: "\e605";
}
.icon-camera:before {
	content: "\e606";
}
.icon-qrcode:before {
	content: "\e607";
}
.icon-calendar:before {
	content: "\e608";
}
.icon-user-tie:before {
	content: "\e609";
}
.icon-bin:before {
	content: "\e61d";
}
.icon-calendar2:before {
	content: "\e60a";
}
.icon-basket:before {
	content: "\e60b";
}
.icon-grid:before {
	content: "\e60c";
}
.icon-comments:before {
	content: "\e60d";
}
.icon-profile:before {
	content: "\e60e";
}
.icon-chevron-down:before {
	content: "\e60f";
}
.icon-chevron-left:before {
	content: "\e610";
}
.icon-chevron-right:before {
	content: "\e611";
}
.icon-chevron-thin-down:before {
	content: "\e612";
}
.icon-chevron-thin-left:before {
	content: "\e613";
}
.icon-chevron-thin-right:before {
	content: "\e614";
}
.icon-chevron-thin-up:before {
	content: "\e615";
}
.icon-chevron-up:before {
	content: "\e616";
}
.icon-image:before {
	content: "\e617";
}
.icon-new-message:before {
	content: "\e618";
}
.icon-shopping-basket:before {
	content: "\e619";
}
.icon-shopping-cart2:before {
	content: "\e61a";
}
.icon-thumbs-up:before {
	content: "\e61e";
}
.icon-tools:before {
	content: "\e61b";
}
.icon-search:before {
	content: "\f002";
}
.icon-heart:before {
	content: "\f004";
}
.icon-user:before {
	content: "\f007";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-comments-o:before {
	content: "\f0e6";
}
