@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.clear {
  *zoom: 1;
}
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.clean {
  *zoom: 1;
}
.clean:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-size: 62.5%;
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",微软雅黑,Tahoma,Helvetica,sans-serif;
  background-color: #efefef;
}

a {
  color: #666666;
  text-decoration: none;
}

header {
  background-color: #2C2C2F;
  position: relative;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
}
header a {
  color: #fff;
  text-decoration: none;
}
header .back {
  position: absolute;
  left: 0;
  width: 60px;
}
header .back span {
  vertical-align: middle;
}
header .nav {
  position: absolute;
  right: 0;
  width: 40px;
  top: 0;
}
header .nav .menu-icon {
  color: #fff;
  font-size: 1.2rem;
}
header .logo {
  margin: 0 60px;
  text-align: center;
  font-size: 1.2rem;
}

.search-form {
  position: relative;
  margin: 10px;
}
.search-form .text {
  margin-right: 70px;
}
.search-form input[type=text] {
  width: 100%;
  border: 0;
  padding: 5px 10px 5px 30px;
  border-radius: 5px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 1rem;
}
.search-form .icon-search {
  position: absolute;
  left: 10px;
  z-index: 1;
  font-size: 1rem;
  line-height: 40px;
  color: gray;
}
.search-form .btn {
  border: 0;
  border-radius: 5px;
}
.search-form .btn-search {
  width: 60px;
  background-color: #F19225;
  color: #fff;
  text-align: center;
  line-height: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
}

.banner {
  height: 160px;
  background-color: #4d4d4d;
  overflow: hidden;
  text-align: center;
}
.banner .summary {
  display: inline-block;
  width: auto;
  margin: 40px auto;
  text-align: left;
}
.banner .summary h1, .banner .summary h2 {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.banner .summary h1 {
  margin-bottom: 1px;
  font-size: 1.6rem;
}
.banner .summary h2 {
  font-size: 1rem;
}

.pro-box {
  padding-top: 10px;
  background-color: #fff;
}
.pro-box h3 {
  margin-left: 10px;
  border-left: 3px solid #666666;
  padding-left: 10px;
  font-size: 1rem;
}
.pro-box .more {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #efefef;
  text-align: center;
  font-size: .8rem;
}
.pro-box .more span {
  vertical-align: middle;
}

.pro-list {
  overflow: hidden;
}
.pro-list li {
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  float: left;
  font-size: .8rem;
}
.pro-list li:nth-child(2n-1) {
  padding-right: 5px;
}
.pro-list li:nth-child(2n) {
  padding-left: 5px;
}
.pro-list li img {
  width: 100%;
}
.pro-list li strong, .pro-list li em {
  display: block;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
}
.pro-list li em {
  margin-top: 3px;
  color: #C72E05;
}
.pro-list li a {
  display: block;
  background-color: #efefef;
}

.menu {
  background-color: #fff;
  padding: 10px;
}
.menu .btn {
  border: 1px solid #cccccc;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
}

.top-bar ul li {
  width: 50%;
  float: left;
  font-size: 1rem;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.top-bar ul li:first-child {
  border-left: 0;
}
.top-bar ul li:last-child {
  border-right: 0;
}
.top-bar ul li .icon {
  margin-left: 5px;
  color: #F19225;
}
.top-bar ul li span {
  vertical-align: middle;
}

footer {
  height: 50px;
  background-color: #2C2C2F;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .footer-bar {
  overflow: hidden;
}
footer .footer-bar li {
  width: 25%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  font-size: .8rem;
  padding: 5px 0;
  font-weight: bold;
}
footer .footer-bar li span {
  display: block;
  line-height: 1.4rem;
}
footer .footer-bar li.active a {
  color: #C72E05;
}
footer .footer-bar li .icon {
  font-size: 1.2rem;
}
footer .footer-bar li a {
  color: #fff;
}

body {
  padding-bottom: 60px;
}
