footer {
	height:50px;
	background-color: $bgBlack;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	.footer-bar {
		overflow:hidden;
		li {
			width:25%;
			float:left;
			box-sizing: border-box;
			text-align: center;
			color: $white;
			font-size:.8rem;
			padding:5px 0;
			font-weight:bold;
			span {
				display: block;
				line-height:1.4rem;
			}
			&.active {
				a {
					color: $red;
				}
			}
			.icon {
				font-size:1.2rem;
			}
			a {
				color: $white;
			}
		}
	}
}