.banner {
	height:160px;
	background-color: lighten($black, 30%);
	overflow:hidden;
	text-align: center;
	.summary {
		display: inline-block;
		width:auto;
		margin:40px auto;
		text-align: left;
		h1, h2 {
			padding:$space $space * 2;
			background-color: rgba(0, 0, 0, .3);
			color: $white;
		}
		h1 {
			margin-bottom:1px;
			font-size:1.6rem;
		}
		h2 {
			font-size:1rem;
		}
	}
}

.pro-box {
	padding-top:$space;
	background-color: $white;
	h3 {
		margin-left:$space;
		border-left:3px solid lighten($black, 40%);
		padding-left: $space;
		font-size:1rem;
	}
	.more {
		display: block;
		height:40px;
		line-height:40px;
		background-color: $bgGray;
		text-align: center;
		font-size:.8rem;
		span {
			vertical-align: middle;
		}
	}
}

.pro-list {
	overflow:hidden;
	li {
		box-sizing: border-box;
		width:50%;
		padding:$space;
		float:left;
		font-size:.8rem;
		&:nth-child(2n-1){
			padding-right: $space / 2;
		}
		&:nth-child(2n){
			padding-left: $space / 2;
		}
		img {
			width:100%;
		}
		strong, em {
			display:block;
			font-style:normal;
			font-weight: normal;
			line-height:120%;
		}
		em {
			margin-top:3px;
			color: $red;
		}
		a {
			display: block;
			background-color: $bgGray;
		}
	}
}

.menu {
	background-color: $white;
	padding: $space;
	.btn {
		border:1px solid lighten($black, 80%);
		text-align: center;
		height:40px;
		line-height:40px;
		font-size:1rem;
	}
}

.top-bar {
	ul {
		li {
			width:50%;
			float:left;
			font-size:1rem;
			text-align: center;
			height: 40px;
			line-height: 40px;
			border:1px solid lighten($black, 90%);
			box-sizing: border-box;
			&:first-child {
				border-left:0;
			}
			&:last-child {
				border-right:0;
			}
			.icon {
				margin-left:5px;
				color: $origin;
			}
			span {
				vertical-align: middle;
			}
		}
	}
}